<div class="header" fxFlex>

  <mat-toolbar fxFlex fxLayoutAlign="center center">
    <a mat-button routerLink="visitor" routerLinkActive="active"><span class="fa fa-info fa-lg"></span> Visitor</a>
    <a mat-button routerLink="government" routerLinkActive="active"><span class="fa fa-info fa-lg"></span> Government</a>
    <span><img src="assets/images/logo_govh.jpg" height=70 routerLink="home"></span>
    <a mat-button routerLink="employer" routerLinkActive="active"><span class="fa fa-building fa-lg"></span> Employer</a>
    <a mat-button routerLink="employee" routerLinkActive="active"><span class="fa fa-briefcase fa-lg"></span> Employee</a>
  </mat-toolbar>

</div>
