.mat-toolbar {
  background-color: white;
  border-top: #a92159 solid 2px;
  border-bottom: #a92159 solid 2px;
  height: 20vh;
  background-image: url("/assets/images/bkg.jpg");
}

.mat-button {
  color: #a92159;
}
