li:hover{
    background: #D5D8DC;
    cursor: pointer;
    transition: 0.5s;
}

#header{
    height: 60px;
    z-index: 1;
    border-bottom: #dee2e6 1px solid;
    background: #a92159;
}

#sidebar{
    width: 200px;
    height: 100vh;
    padding-top: 20px;
    /*border-right: #6c757d 1px solid;*/
    float: left;
    z-index: 2;
    position: fixed;
}

#sidebar .list-group-item{
    /*background: #55ACEE;*/
}

.side-title{
    margin: 0 auto 20px;
}

#toggle-sidebar{
    position: fixed;
    bottom: 100px;
    height: 80px;
    width: 80px;
    right: 10px;
    z-index: 10;
}

#content{
    height: 1000px;
    background: #55ACEE;
    z-index: 0;
    position: relative;
}