li:hover{
    background: #D5D8DC;
    cursor: pointer;
    transition: 0.5s;
}

#header{
    height: 60px;
    z-index: -1;
    border-bottom: #dee2e6 1px solid;
}

#sidebar{
    width: 200px;
    height: 100vh;
    padding-top: 20px;
    /*border-right: #6c757d 1px solid;*/
    float: left;
}

#sidebar .list-group-item{
    /*background: #55ACEE;*/
}

.side-title{
    margin: 0 auto 20px;
}

#toggle-sidebar{
    margin-top: 10px;
    margin-right: 20px;
}