<div class="container" fxFlex fxLayout="column" fxLayoutAlign="center center">
  <div fxFlex="100" style="
  background-color: #a92159; width: 100%;" fxLayoutAlign="center center">
    <h1>Government Portal</h1>
  </div>
  <div class="gov" fxFlex="100">
    <mat-grid-list cols="5" gutterSize="20">
      <mat-grid-tile *ngFor="let ind of industries" [routerLink]="[ind.name]">
        {{ind.name}}
      </mat-grid-tile>
    </mat-grid-list>
    </div>
  <div class="details" fxFlex="100" fxLayout="column" fxLayoutAlign="start start">
    <div fxLayout="row">
      <div fxFlex="25">
        <h2>image here</h2>
      </div>
      <div fxFlex="25">
        <h2>description here</h2>
      </div>
      <div fxFlex="25">
        <h2>image here</h2>
      </div>
      <div fxFlex="25">
        <h2>description here</h2>
      </div>
    </div>
    <div fxLayout="row">
      <div fxFlex="50">
        <h2>image here</h2>
      </div>
      <div fxFlex="50">
        <h2>description here</h2>
      </div>
    </div>
  </div>
</div>
