<div class="container agri" fxFlex fxLayout="column" fxLayoutAlign="center center">
  <div fxFlex="100" fxLayout="row">
<div class="trend" fxFlex="70">
  images takes 70% width
  <img src="/assets/images/industry.jpg" alt="">
</div>
<div fxFlex="30">
  description takes 30% width
</div>
</div>
<div fxFlex="100" fxLayout="row">
<div class="trend" fxFlex="70">
images takes 70% width
<img src="/assets/images/industry.jpg" alt="">
</div>
<div fxFlex="30">
description takes 30% width
</div>
</div>
<div fxFlex="100" fxLayout="row">
<div class="trend" fxFlex="70">
images takes 70% width
<img src="/assets/images/industry.jpg" alt="">
</div>
<div fxFlex="30">
description takes 30% width
</div>
</div>

</div>
