<div class="container home" fxLayout="column" fxLayoutGap="10px">
    <div fxFlex="100" fxLayoutAlign="center center">
      <h2 style="margin: 30px auto;">We provide
          <span class="magic-text">
          <i class="purple">I</i>
          <i class="blue">D</i>
          <i class="orange">E</i>
          <i class="green">A</i>
          <i class="red">S</i>
      </span>for our Community
      </h2>
  </div>
  <div fxFlex="100" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center">
      <div fxFlex="30">
          <img src="assets/images/intro-img2.png" style="width: 90%;">
      </div>
      <div fxFlex="30">
          <ul style="list-style: none;">
              <li>
                  <p><span class="bullet"></span>
                      <span class="list-title">Massive Data - </span>
                      <span class="description">We analyze current situation based on various dataset</span>
                  </p>
              </li>
              <li>
                  <p><span class="bullet"></span>
                      <span class="list-title">Industrial Trend - </span>
                      <span class="description">We summarize the past and current employment trend in multiple industries</span>
                  </p>
              </li>
              <li>
                  <p><span class="bullet"></span>
                      <span class="list-title">Local Information - </span>
                      <span class="description">We gather the information by location</span>
                  </p>
              </li>
              <li>
                  <p><span class="bullet"></span>
                      <span class="list-title">Future Prediction - </span>
                      <span class="description">We utilize AI models trained on big data to predict the future trend</span>
                  </p>
              </li>
          </ul>
      </div>
  </div>
      <div fxFlex="100" fxLayoutAlign="center center">
        <h4>Looking for Ideas as</h4>
          <a mat-button routerLink="government">Government</a>
          <a mat-button routerLink="employer">Employer</a>
          <a mat-button routerLink="employee">Employee</a>
      </div>
</div>
